/*=============================================================================
first view
================================================================================*/
.first_view {
	width: 100%;
	position: relative;

	img {
		min-width: 100%;
	}
	p {
		width: 300px;
		height: 100px;
		border: #fff 2px solid;
		color: #fff;
		position: absolute;
		transform: translateY(-50%);
		font-size: 3rem;
		top: 50%;
		left: 50%;
		text-align: center;
		transform: translate(-50%, -50%);
		line-height: 100px;
	}
}

/*=============================================================================
all
================================================================================*/
main {
	width: calc(100% - 30px);
	margin: auto;
	margin-top: 10rem;
}
.about,
.service,
.news,
.contact {
	width: 100%;
	margin-bottom: 15rem;
	h2 {
		margin-bottom: 7.3rem;
	}
	h3 {
		margin-bottom: 3.1rem;
	}
}

/*=============================================================================
service
================================================================================*/
.service {
	img {
		margin: 4rem 0 5.1rem;
	}
}

/*=============================================================================
news
================================================================================*/
.news {
	.news_card_wrapper {
		.news_card {
			width: 32rem;
			margin-bottom: 5rem;

			.card-content {
				border: 1px solid #707070;
				box-shadow: 0px 0px 7px 2px #707070;

				p {
					margin: 2.6rem 3.4rem;
				}
			}
		}
	}
}

/*=============================================================================
contact
================================================================================*/
.contact {
	margin-bottom: 0;

	form {
		.contact_item {
			display: flex;
			flex-direction: column;

			.label {
				width: 100px;
				height: 30px;
			}
			.inputs {
				margin-bottom: 22px;
			}
			textarea {
				width: 100%;
				height: 195px;
			}
		}
		.btn-area {
			text-align: center;
			margin: 5rem 0;
			input {
				width: 235px;
				height: 59px;
				border-radius: 30px;
				background-color: #1b1310;
				color: #fff;
			}
		}
	}
}

@include tab {
	/*===========================================================================
first view
================================================================================*/
	.first_view {
		img {
			height: 95vh;
			width: 100%;
		}
	}
}

/*=============================================================================
all
================================================================================*/
main {
	width: 80%;
}

/*=============================================================================
news
================================================================================*/
.news_card {
	margin: 5rem auto;
}

/*=============================================================================
news
================================================================================*/
.contact form .contact_item .label {
	width: 100%;
	height: 30px;
}

@include lap {
	/*============================================================================
news
================================================================================*/
	.news {
		&_card_wrapper {
			display: flex;
		}
		&_card {
			width: calc(100% / 3 20px);
			margin: 1rem;
		}
	}
}
@include pc {
	/*=============================================================================
first view
================================================================================*/
	.first_view {
		p {
			width: 449px;
			height: 136px;
			font-size: 5rem;
			line-height: 136px;
		}
	}
}
